CORS_ORIGIN=http://localhost:30155

DB_USER=postgres
DB_PASSWORD=your_password_here
DB_DATABASE=notes_app

ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
